body{
    background-color: rgb(207, 61, 86);
}
.he{
    font-family: 'Jomhuria', cursive;
    padding-top: 40px;
    padding-right: 60px;
    font-size: 65px;
    text-align: right;
}
.Head {
    float: right;
    color:rgb(207, 61, 86);
    margin-top: -25em;
    margin-right: 10em;
    font-family: 'Tajawal', sans-serif;
    text-align: right;
    
  }
  
  * { color:rgb(207, 61, 86); text-decoration: none;}
  .img{
      height: 400px;
      display: flex;
      margin-top: 5em;
      margin-left: 10em;
  }
  .cont{
      background-color: #fff;
      border-radius: 20px;
      box-sizing: border-box;
      margin: 40px;
      display: block;
      block-size: 860px;
      
  }
.bb {

    float: right;
    margin-right: 190px;
    padding: 1em;
    display: inline-flex;
  flex-wrap: wrap;
    

}
.se{
    color: rgb(37, 37, 37);
}
.btn{
    margin: 1em;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    font-size: 24px;
    color: rgb(207, 61, 86);
    float: right;
    background-color: Transparent;
    cursor:pointer;
    border-radius: 40px;
    border: 2px solid rgb(207, 61, 86);
    width: 240px;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.btn1{
    margin: 1em;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    font-size: 24px;
    color: white;
    float: right;
    background-color: rgb(207, 61, 86);
    border-radius: 40px;
    border: none;
    width: 240px;
    height: 70px;
    cursor: pointer;
    border: 2px solid rgb(207, 61, 86);
    box-shadow: rgb(207, 61, 86) 0px 8px 24px;
    
}
.btn:hover{
    color: #fff;
    background-color: rgb(207, 61, 86);
    
    transition-duration: 0.5s;
}

.btn1:hover{
    background-color: Transparent;
    border: 2px solid rgb(207, 61, 86);
    color: rgb(207, 61, 86);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition-duration: 0.5s;
}
@media screen and (max-width: 768px){
    .he{
        text-align:center;
    }
    .img{
        
        margin-top:-40px;
        margin-left: -30px;
        padding:50px;
        width: 200px;
        height: 150px;
    }
    .Head{
        text-align: center;
        padding-left: 20px;
        padding-top: 280px;
        font-size:12px;
    }
    .btn{
        width: 140px;
        height: 40px;
        font-size: 18px;
    }
    .btn1{
        width: 140px;
        height: 40px;
        font-size: 18px;
    }
    .bb{
        margin: 51px;
    }
    .cont{
        block-size: 750px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    }
